*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.App{
    background-color: white;
    min-height: 100vh;
    color:black;
    font-family: 'Roboto Flex', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
   

}
