$cor-principal-fonte: black;
$background-principal: #fffefe;
$inside-button: black;

//buttons pomodoro

$blue-btn:#4CACFF;
$blue-btn-weak: #8dc9fa;
$blue-btn-strong: #153047;
$blue-bg-strong: #04090D;

$green-btn:#4DDA6E;
$green-btn-weak: #64f889;
$green-btn-strong: #14401D;
$green-bg-strong: #040D06;


// dark mode